#head, #body {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

hr {
    border-color: teal;
}

#board {
    all: unset;
    display: grid;
    grid-gap: 2px;
    margin-top: 20px;
    grid-template-columns: repeat(40, 35px);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.piece {
    background-color: whitesmoke;
    color: white;
    text-align: center;
    border-radius: 2px;
    padding: 4px 0;
    cursor: pointer;
    font-size: x-small;
}

.piece:hover { background-color: #ccc; }
.piece.fixed { background-color: #333; }
.piece.active { background-color: tan; }
  
#pick {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    flex-wrap: wrap;
}

#matches {
    display: flex;
    width: 100%;
    height: 160px;
    background: rgba(250, 235, 215, 0.9);
    justify-content: center;
    align-content: center;
    align-items: center;
}

#matches ul {
    margin: 10px 0 0;
    overflow: auto;
    display: block;
    width: 85%;
    padding: 0;
}

#matches ul li.active {
    background-color: goldenrod;
}

#matches ul li {
    display: inline-block;
    margin: 0 4px;
}

.list li span {
    display: block;
    text-align: center;
    font-size: 0.8em;
}

#matches ul li img {
    max-height: 100px;
    filter: invert(100%);
    mix-blend-mode: multiply;
}

#view {
    display: flex;
    width: 100%;
    /* background: beige; */
    justify-content: center;
}

#canvas {
    width: 780px;
    height: 780px;
    /* background: rgba(250, 235, 215, 0.9); */
    background-color: whitesmoke;
    background-image: radial-gradient(circle, rgb(200 200 200) 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 10px 10px;
    border: 10px solid gold;
}

#canvas canvas {
    background-image: linear-gradient(to right, #41414122 1px, transparent 1px),
    linear-gradient(to bottom, #41414122 1px, transparent 1px) !important;
    background-size: 260px 260px !important;
    background-position: 0 0;
}

#info {
    width: 400px;
    height: 760px;
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(255, 215, 0, 0.9);
}

#info ul {
    list-style: lower-greek;
}

#close {
    float: right;
    border: none;
    background: none;
    font-size: 2.4em;
    padding-top: 18px;
    cursor: pointer;
}

#close:hover {
    font-size: 2.6em;
}
