html, body {
    all: unset;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#head { height: 120px; border-bottom: 1px solid gainsboro; background-color: cadetblue; }
#head .prev { float: left; }
#head .next { float: right; }
#head .prev, #head .next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

#head .prev button, #head .next button {
    vertical-align: middle;
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border-width: 0;
}

#matches {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 60px;
    right: 60px;
    height: 120px;
}

#matches ul {
    margin: 10px 0 0;
    overflow: auto;
    display: block;
    padding: 0;
}

#matches ul li {
    display: inline-block;
    margin: 0 4px;
}

#matches ul li img {
    max-height: 100px;
    filter: invert(100%);
}

#body {
    position: fixed;
    top: 121px;
    bottom: 0;
}

#corner {
    height: 100%;
    width: 100px;
    border-right: 1px solid gainsboro;
    float: left;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#sides {
    /* padding-left: 3px; */
    background-color: lightblue;
    padding-bottom: 4px;
}

#corner #sides p {
    line-height: 1.6em;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

#buttons {
    display: flex;
}
#buttons button {
    margin: 4px;
    border: none;
}

#corner ul, #corner ul li {
    all: unset;
    margin: 0;
    padding: 0;
    max-width: 100%;
    list-style: none;
}

#corner ul li {
    display: block;
    margin: 8px 0 0 8px;
}
#corner ul li img {
    max-width: 80%;
    opacity: 0.5;
    filter: invert(100%);
}
#corner ul li img:hover {
    opacity: 1;
    filter: invert(100%) drop-shadow(1px 1px 8px gainsboro);
}

#board {
    /* height: auto; */
    /* width: auto; */
    position: fixed;
    top: 121px;
    bottom: 0px;
    left: 101px;
    right: 0px;
    overflow: hidden;
    background-color: darkslategrey;
    /* padding: 8px; */
}

#board .toolbar {
    border-bottom: 1px solid gainsboro;
    padding: 2px 12px;
    background-color: linen;
    position: fixed;
    right: 0;
    left: 101px;
    top: 121px;
}
#board .toolbar button {
    border: none;
    padding: 0 8px;
}

#board .container {
    padding: 10px;
    margin-top: 30px;
    position: fixed;
    top: 120px;
    left: 101px;
    right: 0;
    bottom: 0;
    overflow: scroll;
    background-image: radial-gradient(circle, rgb(203 213 225) 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 20px 20px;
}

#canvas {
    width: 2000px;
    height: 1900px;
    border: 2px solid darkseagreen;
}